@media (max-width:900px){
    .carte{
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (max-width:600px){
    .carte{
        grid-template-columns: repeat 1fr,;
    }

}
body{
    margin: 5px;
    padding: 0;
    background-color: green;
    font-family: Tahoma, sans-serif;

}
.cartes{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
    padding: 20px
}
.carte{
    overflow: hidden;
    text-align: center;
}
.carte img {
    width: 100px;
    height: 75px;
    border-radius:10px ;
}
.carte h2{
    color: white;
}
.carte p{
    padding: 10px;
    color: white;
}
h1{
    color:white;
    text-align: center;
}
hr{
    width: 100px;
    height: 10px;
    border-radius: 10px;
    background-color: yellow;
}
